<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<th:block th:replace="fragment::top"></th:block>
<head>

</head>
<body>

<nav th:replace="fragments/fragments::rrnav"></nav>
<section>
    <div class="container">

        <form th:action="@{/add}" th:object="${product}" method="post">
            <input type="hidden" th:field="*{id}">


            <label for="institution">Product anme</label>
            <span th:if="${#fields.hasErrors('institution')}" th:errors="*{institution}"></span>
            <input type="text" class="form-control" th:field="*{institution}">

            <label for="course">Course</label>
            <span th:if="${#fields.hasErrors('course')}" th:errors="*{course}"></span>
            <input type="text" class="form-control" th:field="*{course}">

            <label for="year">Year of Completion</label>
            <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
            <input type="number" class="form-control" th:field="*{year}">


            <button type="submit" class="btn btn-default">Save</button>

        </form>

    </div>
</section>
<section>
    <span th:replace="fragments/fragments::bootstrap4js"></span>
</section>
</body>
</html>