<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<th:block th:replace="fragment::top"></th:block>
<head>

</head>
<body>

<div class="body-content">
    <div class="module">

    <div class="container" style="color: red">

        <ul  class="row" th:each="product : ${products}">
            <li th:text="${product.productName}"></li>
            <li th:text="${product.productDesc}"></li>
            <li  th:text="${product.price}"></li>
            <li> <a href="#" th:href="@{/productsdetail/{id} (id = ${product.id})}">Details</a></li>
            <li><a href="#" th:href="@{/productupdate/{id} (id = ${product.id})}">Update</a> </li>
            <li> <a href="#" th:href="@{/productdelete/{id} (id = ${product.id})}">Delete</a></li>


        </ul>
    </div><!-- /.container -->


    <span th:replace="fragment::bootstrap4js"></span>
    </div>
</div>
</body>
</html>